html,body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  touch-action:none /* disable things like pinch zoom and two finger scroll*/
}

canvas {
  border: 1px solid black;
  background-color: white;
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */     
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}

#static-pin {
  position: absolute;
  background-color: white;
  margin-left: 1em;
  margin-top: 16px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
}


#lobby{
  background: linear-gradient(-45deg,black,orange);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  color: white;
  font-size: 24px;
  padding: 20px;
  border-radius: 20px;
}

#btn {
  background-color: white;
  font-size: 16px;
  border-radius: 30px;
}

#btn:hover{
  background-color: greenyellow;
}

.ground {
  background-color: rgba(20, 20, 20, 0.411);
  height: 10px;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

/* .snow1 {
  background: url("snowfall image/snow.png");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: animateOne 15s infinite linear;
}
.snow2 {
  background: url("snowfall image/snow.png");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: animateTwo 20s infinite linear;
}
.snow3 {
  background: url("snowfall image/m.png");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: animateThree 26s infinite linear;
}
@keyframes animateOne {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100px 650px;
  }
}
@keyframes animateTwo {
  0% {
    background-position: 0px -100px;
  }
  100% {
    background-position: 0px 870px;
  }
}
@keyframes animateThree {
  0% {
    background-position: 0px 100px;
  }
  100% {
    background-position: 0px 650px;
  }
} */

